# Ansible
hosts
development.playbook.yml

# Java
console-backend/target

console-frontend/node_modules

console-frontend/public/app/
!console-frontend/public/app/.gitkeep

# Exclude python files
*.py
