[Unit]
Description=Tg2SIP
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# set TG2SIP_STANDARD_FOLDER to yes
#    settings     -> /etc/tg2sip/settings.ini
#    tg_directory -> /var/tg2sip
Environment=TG2SIP_STANDARD_FOLDER=YES
ExecStart=/usr/local/bin/tg2sip
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
KillMode=process
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
