[tg2sip-demo]
192.168.1.141

[all:vars]
ansible_password=
ansible_user=

# which can be obtained at https://my.telegram.org
telegram_api_id=
telegram_api_hash=
telegram_p2p=false


postgres_user=postgres
postgres_database=tg2sipdemo
postgres_host=192.168.1.141
postgres_port=5432
postgres_password=password

development_postgres_network=192.168.56.0/24